# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
dist/

# Vite
.vite/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Local Jupyter / Anaconda files
anaconda_projects/
.virtual_documents/